@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

:root {
  --text-color: #212529;
  --bg-color: #ffffff;
  --card-color: rgba(255, 255, 255, 0.7);
  --accent-color: #4dabf7;
  --red: #E45E51;
  --blue: #5AB2CE;
  --orange: #E99852;
  --green: #74CA6D;
}

body {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

#box{
  width: 300px;
  height: 300px;
  margin: 30px auto;
  background: #aaa;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadedown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes dash {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.2;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px)
  }
  50% {
    transform: translateY(50px)
  }
}

* {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

.lights-outer {
  margin-top: 2rem;
  width: 100vw;
  overflow: hidden;
}

#main-container {
  width: 90%;
  margin: 0 5%;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadedown 1s ease 0.2s forwards;
}

#shift-logo-outer {
  margin-right: 0.75rem;
}

.st0, .st1, .st3, .st2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 1s ease-in 0.7s forwards;
}

#intro > a > img {
  height: 6rem;
  cursor: pointer;
}

.vertical-hr {
  background-color: var(--text-color);
  height: 8rem;
  width: 1px;
  margin: 1rem;
}

#intro-right {
  width: 50%;
}

#intro-right > h2 {
  font-size: 2.5em;
  font-family: "IBM Plex Mono", serif;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

#intro-right > p {
  font-size: 1.25em;
  line-height: 1.1;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

#social-media {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 3rem;
}

#social-media > a > i {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

#social-media > a {
  opacity: 0.8;
  transition: opacity 0.25s;
}

#social-media > a:hover {
  opacity: 1;
}

#project-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 2.5%;
  margin-bottom: 10rem;
}

.project--gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project--gradient > span {
  z-index: 10000;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
  /* background-color: green; */
}

.project {
  background-color: var(--card-color);
  display: inline-block;
  margin: 1.5em;
  overflow: hidden;
  width: 17rem;
  height: auto;
  transform-origin: 50% 50%;
  opacity: 0;
  /* max-height: 18rem; */
  margin-bottom: 0rem;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: appear 1s linear forwards;
  transition: transform 0.15s, box-shadow 0.25s;
}

.project:hover {
  box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.15);
}

.project--image {
  width: 100%;
  height: 11rem;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  background-color: var(--card-color);
  transition: background-image 0.25s, background-size 0.5s;
}

.shape {
  z-index: -1;
  position: absolute;
}

.shape.rect {
  height: 3rem;
  width: 3rem;
  background-color: var(--red);
  transform: translateZ(-10px);
}

.shape.circle {
  height: 3rem;
  width: 3rem;
  background-color: var(--green);
  border-radius: 100%;
  transform: translateZ(-30px);
}

.shape.diag {
  height: 3rem;
  width: 3rem;
  background-color: var(--blue);
  transform: skew(20deg) translateZ(-20px);
}

.shape.line {
  height: 2rem;
  width: 2rem;
  background-color: var(--orange);
  transform: translateZ(-40px);
}

.lazy {
  background-image: url('assets/projects/transparent.png') !important;
  transition: background-image 0.25s;
}

.project--text {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  padding: 0.75rem 1rem;
  background-color: var(--card-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
}

.project--text > * {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.project--text > h4 {
  font-size: 1.5em;
  transform: translateZ(22.5px);
  font-family: "IBM Plex Mono", serif;
  text-shadow: 0px 0px 10px transparent;
  transition: text-shadow 0.25s;
}

.project--text > h5 {
  text-transform: uppercase;
  opacity: 0.7;
  margin-top: 0.1em;
  transform: translateZ(18px);
  font-size: 1em;
  text-shadow: 0px 0px 10px transparent;
  transition: text-shadow 0.25s;
}

.project--text > p {
  margin: 0.3rem 0;
  transform: translateZ(5px);
}

.project:hover h4, .project:hover h5 {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.tag {
  color: #fff;
  background-color: #000;
  opacity: 0.25;
  top: 1rem;
  font-size: 0.6rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

#upper-shapes {
  width: 100%;
  height: 10rem;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadedown 3s ease 0.2s forwards;
}

.upper-shape {
  position: absolute;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  animation: float 10s ease infinite;
}

.upper-shape.rect {
  height: 5rem;
  width: 10rem;
  opacity: 0.25;
  border-radius: 5px;
  background-color: var(--red);
}

.upper-shape.circle {
  height: 10rem;
  width: 10rem;
  opacity: 0.25;
  background-color: var(--green);
  border-radius: 100%;
}

.upper-shape.diag {
  height: 5rem;
  width: 5rem;
  opacity: 0.25;
  border-radius: 5px;
  background-color: var(--blue);
}

.upper-shape.line {
  height: 10rem;
  width: 5rem;
  opacity: 0.4;
  background-color: var(--orange);
}

.upper-shape.window {
  height: 10rem;
  width: 10rem;
  border-radius: 5px;
  z-index: 100;
  margin-top: 60px;
  backdrop-filter: blur(10px);
  background-color: var(--card-color);
}

@media only screen and (max-width:1300px) {
  #intro {
    padding: 2rem 0;
  }
  #main-container {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (max-width:770px)  {
  #main-container {
    width: 95%;
    margin: 0 2.5%;
  }

  #intro {
    flex-wrap: wrap;
    padding: 2rem;
  }

  .vertical-hr {
    height: 1px;
    width: 60%;
  }

  .project {
    width: 20rem;
  }

  .project--image {
    height: 13rem;
  }

  #intro-right {
    width: 90%;
    text-align: center;
  }

  #social-media {
    justify-content: center;
  }

  #social-media > a > i {
    font-size: 2rem;
    margin: 2rem;
  }

  #project-display {
    grid-template-columns: 1fr;
  }
}
