:root {
  --text-color: #343a40;
  --bg-color: #FFFCF9;
  --card-color: #fdfdfd;
  --accent-color: #4dabf7;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadedown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes dash {
  0% {
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: 0.2;
  }
}

* {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", "Helvetica", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

.lights-outer {
  margin-top: 2rem;
  width: 100vw;
  overflow: hidden;
}

#main-container {
  width: 90%;
  margin: 0 5%;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadedown 1s ease 0.2s forwards;
}

#shift-logo-outer {
  margin-right: 0.75rem;
}

.st0, .st1, .st3, .st2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 1s ease-in 0.7s forwards;
}

#intro > a > img {
  height: 6rem;
  cursor: pointer;
}

.vertical-hr {
  background-color: var(--text-color);
  height: 8rem;
  width: 1px;
  margin: 1rem;
}

#intro-right {
  width: 50%;
}

#intro-right > h2 {
  font-size: 3em;
  font-family: "Lora", serif;
}

#intro-right > p {
  font-size: 1.25em;
  line-height: 1.1;
}

#social-media {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 3rem;
}

#social-media > a > i {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

#social-media > a {
  opacity: 0.8;
  transition: opacity 0.25s;
}

#social-media > a:hover {
  opacity: 1;
}

#project-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 2.5%;
  margin-bottom: 10rem;
}

.project {
  background-color: var(--card-color);
  overflow: hidden;
  display: inline-block;
  margin: 1em;
  width: 17rem;
  height: auto;
  padding: 1em;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transform-origin: 50% 50%;
  opacity: 0;
  /* max-height: 18rem; */
  margin-bottom: 0rem;
  animation: appear 1s linear forwards;
  transition: transform 0.25s, max-height 0.25s, margin-bottom 0.25s, box-shadow 0.25s;
}

.project:hover {
  z-index: 100;
  transform: scale(1.05) rotate(0deg) translate(0, -10px) !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  /* max-height: 20rem; */
  /* margin-bottom: -8rem; */
}

.arrow-link {
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--card-color);
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.25em;
  border-radius: 100%;
}

.project--image {
  width: 100%;
  height: 11rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-color: var(--card-color);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-image: 0.25s;
}

.lazy {
  background-image: none !important;
}

.project--text {
  margin-top: 0.25rem;
}

.project--text > h4 {
  font-size: 2em;
  font-family: "Lora", serif;
}

.project--text > h5 {
  text-transform: uppercase;
  opacity: 0.7;
  margin-top: 0.1em;
  font-size: 1em;
}

.project--text > p {
  margin: 0.3rem 0;
}

.wire {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 1s ease-in forwards;
}

.lights {
  opacity: 0;
  stroke-dasharray:1px,300px;
  animation: dash 3s linear infinite, appear 2s linear forwards;
}

#lights1 {
  animation-delay: 1s;
  stroke-dashoffset: 100px;
}

#lights2 {
  animation-delay: 2s;
  stroke-dashoffset: 200px;
}

@media only screen and (max-width:1300px) {
  #intro {
    padding: 2rem 0;
  }
  #main-container {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (max-width:770px)  {
  #main-container {
    width: 95%;
    margin: 0 2.5%;
  }

  #intro {
    flex-wrap: wrap;
    padding: 2rem;
  }

  .vertical-hr {
    height: 1px;
    width: 60%;
  }

  .project {
    width: 20rem;
  }

  .project--image {
    height: 13rem;
  }

  #intro-right {
    width: 90%;
    text-align: center;
  }

  #social-media {
    justify-content: center;
  }

  #social-media > a > i {
    font-size: 2rem;
    margin: 2rem;
  }

  #project-display {
    grid-template-columns: 1fr;
  }
}
